Flask
Flask-Cors
gunicorn
torch
transformers
sentencepiece    # required by many MarianMT / T5 models
protobuf          # needed by transformers
tokenizers        # Hugging Face tokenizers
numpy             # PyTorch uses numpy
logging         # not required if using built-in logging
tqdm            # progress bars when downloading models

