Flask==2.3.3
Flask-Cors
gunicorn==21.2.0
torch==2.2.0+cpu
# CPU-only PyTorch, smaller size
--extra-index-url https://download.pytorch.org/whl/cpu
transformers==4.34.0
sentencepiece==0.1.99
protobuf>=4.23.0
tokenizers
numpy==1.25.2
tqdm==4.65.0
